[submodule "Intermediate/1-QMLModule"]
	path = Intermediate/1-QMLModule
	url = https://github.com/dev-clement/QMLModule.git
[submodule "Intermediate/2-QMLContextProperties"]
	path = Intermediate/2-QMLContextProperties
	url = https://github.com/dev-clement/2-QMLContextProperties.git
[submodule "Intermediate/3-Connections"]
	path = Intermediate/3-Connections
	url = https://github.com/dev-clement/3-Connections.git
[submodule "Intermediate/4-QMLSignalHandling"]
	path = Intermediate/4-QMLSignalHandling
	url = https://github.com/dev-clement/4-QMLSignalHandling.git
[submodule "Intermediate/5-QMLAndJavaScript"]
	path = Intermediate/5-QMLAndJavaScript
	url = https://github.com/dev-clement/5-QMLAndJavaScript.git
[submodule "Intermediate/7-InstantiableModules"]
	path = Intermediate/7-InstantiableModules
	url = https://github.com/dev-clement/7-InstantiableModules.git
[submodule "Intermediate/6-InstantiableTypes"]
	path = Intermediate/6-InstantiableTypes
	url = https://github.com/dev-clement/6-InstantiableTypes.git
[submodule "Intermediate/8-SingletonObjects"]
	path = Intermediate/8-SingletonObjects
	url = https://github.com/dev-clement/8-SingletonObjects.git
[submodule "Intermediate/9-BasicDataTypes"]
	path = Intermediate/9-BasicDataTypes
	url = https://github.com/dev-clement/9-BasicDataType.git
[submodule "Intermediate/10-TimeAndDateTime"]
	path = Intermediate/10-TimeAndDateTime
	url = https://github.com/dev-clement/10-TimeAndDateTime.git
[submodule "Intermediate/11-SequenceToJavaScriptArray"]
	path = Intermediate/11-SequenceToJavaScriptArray
	url = https://github.com/dev-clement/11-SequenceToJavaScriptArray.git
[submodule "Intermediate/12-TransferringDataFromQmlToCpp"]
	path = Intermediate/12-TransferringDataFromQmlToCpp
	url = https://github.com/dev-clement/12-QVariantList-QVariantMap.git
[submodule "Intermediate/10-QMLQNetworkManager"]
	path = Intermediate/10-QMLQNetworkManager
	url = https://github.com/dev-clement/10-QMLQNetworkManager.git
[submodule "Intermediate/11-QMLRestAccessManager"]
	path = Intermediate/11-QMLRestAccessManager
	url = https://github.com/dev-clement/11-QMLQRestAccessManager.git
[submodule "Intermediate/13-InstantiableType"]
	path = Intermediate/13-InstantiableType
	url = https://github.com/dev-clement/13-InstantiableType.git
[submodule "Intermediate/5-1CustomTypeCounter"]
	path = Intermediate/5-1CustomTypeCounter
	url = https://github.com/dev-clement/5-1CustomTypeCounter.git
[submodule "Intermediate/5-2Enumerates"]
	path = Intermediate/5-2Enumerates
	url = https://github.com/dev-clement/5-2Enumerates.git
[submodule "Intermediate/5-3EnumeratedWithCounter"]
	path = Intermediate/5-3EnumeratedWithCounter
	url = https://github.com/dev-clement/5-3EnumerateWithVisualType.git
[submodule "Intermediate/5-4ObjectListProperties"]
	path = Intermediate/5-4ObjectListProperties
	url = https://github.com/dev-clement/5-4ObjectListProperties.git
[submodule "Intermediate/5-6DefaultProperties"]
	path = Intermediate/5-6DefaultProperties
	url = https://github.com/dev-clement/5-6DefaultProperties.git
[submodule "Intermediate/5-5InheritedObjectListProperty"]
	path = Intermediate/5-5InheritedObjectListProperty
	url = https://github.com/dev-clement/5-5InheritedObjectListProperty.git
[submodule "Intermediate/5-7GroupedProperties"]
	path = Intermediate/5-7GroupedProperties
	url = https://github.com/dev-clement/5-7GroupedProperties.git
[submodule "Intermediate/5-8AttachedProperties"]
	path = Intermediate/5-8AttachedProperties
	url = https://github.com/dev-clement/5-8AttachedProperties.git
[submodule "Advanced/1-StringListModel"]
	path = Advanced/1-StringListModel
	url = https://github.com/dev-clement/1-StringListModel.git
[submodule "Advanced/2-ObjectListModel"]
	path = Advanced/2-ObjectListModel
	url = https://github.com/dev-clement/2-ObjectListModel.git
[submodule "Advanced/3-QPropertyEdit"]
	path = Advanced/3-QPropertyEdit
	url = https://github.com/dev-clement/3-QPropertyEdit.git
[submodule "Advanced/4-QAbstractListModel"]
	path = Advanced/4-QAbstractListModel
	url = https://github.com/dev-clement/4-AbstractListModel.git
[submodule "Advanced/5-Decoupling-data-source"]
	path = Advanced/5-Decoupling-data-source
	url = https://github.com/dev-clement/5-Decoupling-data-source.git
[submodule "Advanced/6-ModelListProperty"]
	path = Advanced/6-ModelListProperty
	url = https://github.com/dev-clement/6-ModelListProperty.git
[submodule "Advanced/7-RESTClient"]
	path = Advanced/7-RESTClient
	url = https://github.com/dev-clement/6-RestClient.git
[submodule "Advanced/8-PaintingQMLItem"]
	path = Advanced/8-PaintingQMLItem
	url = https://github.com/dev-clement/7-PaintingQMLItem.git
[submodule "Advanced/9-QMLBarChart"]
	path = Advanced/9-QMLBarChart
	url = https://github.com/dev-clement/8-QMLBarChart.git
[submodule "Advanced/10-QMLBarChartProperty"]
	path = Advanced/10-QMLBarChartProperty
	url = https://github.com/dev-clement/9-BarChartProperty.git
[submodule "Advanced/11-QMLCanvas"]
	path = Advanced/11-QMLCanvas
	url = https://github.com/dev-clement/10-QMLCanvas.git
[submodule "Advanced/12-QJSValueSingleton"]
	path = Advanced/12-QJSValueSingleton
	url = https://github.com/dev-clement/12-Singleton.git
[submodule "Advanced/13-QObjectValueSingleton"]
	path = Advanced/13-QObjectValueSingleton
	url = https://github.com/dev-clement/QObjectSingleton.git
[submodule "Advanced/6-2LoadingQMLWithQQmlEngine"]
	path = Advanced/6-2LoadingQMLWithQQmlEngine
	url = https://github.com/dev-clement/6-1LoadingQMLWithQQmlEngine.git
[submodule "Advanced/6-3ParsingCustomTypes"]
	path = Advanced/6-3ParsingCustomTypes
	url = https://github.com/dev-clement/6-2ParsingCustomTypes.git
[submodule "Advanced/6-4QQuickView"]
	path = Advanced/6-4QQuickView
	url = https://github.com/dev-clement/QQuickView.git
[submodule "Advanced/6-5QQmlApplicationEngine"]
	path = Advanced/6-5QQmlApplicationEngine
	url = https://github.com/dev-clement/6-4QQmlApplicationEngine.git
[submodule "Advanced/6-6CatchQMLSignalFromCpp"]
	path = Advanced/6-6CatchQMLSignalFromCpp
	url = https://github.com/dev-clement/6-6CatchQMLSignalFromCpp.git
